@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

:root {
  --primary-color: #119910;
  --body-color: #dddddd;
  --dark-grey: #242526;
  --grey: 	#808080;
  --white: #fff;
  
  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
  --xl: 32px;
  --xxl: 40px;
  --xxxl:48px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

 font-family: 'Montserrat', sans-serif;
  background-color: var(--body-color);
  margin: var(--xl);
}

header {
  margin-bottom: var(--l);
}

.logo {
  font-size: 2em;
  font-weight: 900;
  padding: var(--xxl) 0 var(--xxxl) calc(var(--s) * 11);
  color: var(--primary-color);
  text-decoration: none;
}



.physio-blog, .physio-blog:visited {
  color: var(--white);
  text-decoration: none;
  border-bottom: 1px solid var(--primary-color);
}

.physio-blog:hover, .physio-blog:visited:hover {
  color: var(--grey);
  border: none;
}




.description {
  font-size: 1.1em;
  background-color: var(--dark-grey);
  line-height: 1.5;
  color: var(--white);
  width: 65vw;
  margin: var(--m) auto;
  text-align: center;
  padding: var(--xxxl);
  box-shadow: 3px 3px 3px var(--grey);
  border-radius: 5px;
}

.description img {
  margin-bottom: var(--s);
  border-radius: 50%;
}

.description p {
  font-size: 1em;
  margin: var(--m);
}

.socials {
  display: flex;
  justify-content: center;
  gap: 12px;
}

 .twitter:hover, .instagram:hover, .github:hover {
  transform: translate(-5px, -5px);
}



.fancy-buttons {
  display: flex;
  justify-content: center;
  margin-right: auto;
  gap: 12px;
}

.fancy {
  width: 20%;
  text-align: center;
  padding: var(--xl);
  background-color: var(--primary-color);
  box-shadow: 3px 3px 3px grey;
  border-radius: 5px;
}

 .fancy:hover {
  transform: translate(-5px, -10px);
}

.fancy p {
  color: var(--white);
  font-size: 14px;
  margin: var(--s) 0 0 0;
}


footer {
 text-align: center;
 font-size: var(--m);
 line-height: 1.4;
 padding: calc(var(--s)*8  + var(--xs)) 0 0 0;
}

footer a, footer a:visited{
 text-decoration: none;
 font-size: 1.2em;
 border-bottom: 2px solid var(--primary-color);
 font-weight: 700;
 color: var(--dark-grey);
}

footer a:hover, footer a:visited:hover{
 color: var(--grey);
 border: none;

}

footer p {
 padding-top: var(--xs);
 font-size: 0.9em;
 color: var(--dark-grey);
}

/* media queries */

@media only screen and (max-width: 729px) {
 .fancy {
  padding: var(--l);
  width: auto;
}
}

@media only screen and (max-width: 649px) {
 .fancy {
  padding: var(--m);
  width: auto;
}


header {
  text-align: center;
  margin-right: 96px;
}

}

@media only screen and (max-width: 569px) {
  
  .description {
    min-width: 80vw;
  }
  
   .description h1 {
    font-size: 1.4em;
  }
  
  .description p {
    font-size: 1.1em;
  }
  
  
  
 .fancy {
  padding: var(--s);
  width:0 auto;
}

header {
  text-align: center;
  margin-right: 96px;
}
}

@media only screen and (max-width: 411px) {
  
  
  .description h1 {
    font-size: 1em;
  }
  
  .description p {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 329px) {
  
   .description h1 {
    font-size: 0.9em;
  }
  
  .description p {
    font-size: 0.7em;
  }
}
  
}


